<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Project3_WebFlim</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NTT_HomeServlet</display-name>
    <servlet-name>NTT_HomeServlet</servlet-name>
    <servlet-class>NguyenThanhTung_Servlet.NTT_HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NTT_HomeServlet</servlet-name>
    <url-pattern>/NTT_HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NTT_TrendingServlet</display-name>
    <servlet-name>NTT_TrendingServlet</servlet-name>
    <servlet-class>NguyenThanhTung_Servlet.NTT_TrendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NTT_TrendingServlet</servlet-name>
    <url-pattern>/NTT_TrendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NTT_MoveListServlet</display-name>
    <servlet-name>NTT_MoveListServlet</servlet-name>
    <servlet-class>NguyenThanhTung_Servlet.NTT_MoveListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NTT_MoveListServlet</servlet-name>
    <url-pattern>/NTT_MoveListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NTT_MovieSingleServlet</display-name>
    <servlet-name>NTT_MovieSingleServlet</servlet-name>
    <servlet-class>NguyenThanhTung_Servlet.NTT_MovieSingleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NTT_MovieSingleServlet</servlet-name>
    <url-pattern>/NTT_MovieSingleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NTT_VideoPlayServlet</display-name>
    <servlet-name>NTT_VideoPlayServlet</servlet-name>
    <servlet-class>NguyenThanhTung_Servlet.NTT_VideoPlayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NTT_VideoPlayServlet</servlet-name>
    <url-pattern>/NTT_VideoPlayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NTT_ProfileServlet</display-name>
    <servlet-name>NTT_ProfileServlet</servlet-name>
    <servlet-class>NguyenThanhTung_Servlet.NTT_ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NTT_ProfileServlet</servlet-name>
    <url-pattern>/NTT_ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NTT_Login</display-name>
    <servlet-name>NTT_Login</servlet-name>
    <servlet-class>NguyenThanhTung_Servlet.NTT_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NTT_Login</servlet-name>
    <url-pattern>/NTT_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NTT_LoginServlet</display-name>
    <servlet-name>NTT_LoginServlet</servlet-name>
    <servlet-class>NguyenThanhTung_Servlet.NTT_LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NTT_LoginServlet</servlet-name>
    <url-pattern>/NTT_LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NTT_SignupServlet</display-name>
    <servlet-name>NTT_SignupServlet</servlet-name>
    <servlet-class>NguyenThanhTung_Servlet.NTT_SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NTT_SignupServlet</servlet-name>
    <url-pattern>/NTT_SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorPage</display-name>
    <servlet-name>ErrorPage</servlet-name>
    <servlet-class>NguyenThanhTung_Servlet.ErrorPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorPage</servlet-name>
    <url-pattern>/ErrorPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NTT_UpdateProfileServlet</display-name>
    <servlet-name>NTT_UpdateProfileServlet</servlet-name>
    <servlet-class>NguyenThanhTung_Servlet.NTT_UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NTT_UpdateProfileServlet</servlet-name>
    <url-pattern>/NTT_UpdateProfileServlet</url-pattern>
  </servlet-mapping>
</web-app>